#appointmentMaker .calendar {
    position: relative;
    top: 75px;
    left: 10%;
    height: 500px;
    width: 60%;
}

#appointmentMaker .timeSlots {
    position:absolute;
    right: 3%;
    top: 20%;
}

#appointmentMaker .timeSlots button {
    margin: 20px 0;
}

#appointmentMaker #chooseAppointment {
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-size: 30px;
}